<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename = 'fonts/icomoon/style.css') }} "> -->
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }} ">

    <title>Healthy.me</title>
  </head>
  <body>
  

  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">

              <h2 class="mb-5">Be Positive &<br>Covid Negative!</h2>

              <form class="border-right pr-5 mb-5" method="post" id="contactForm" name="contactForm" action="/">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="date" class="form-control" name="dt" id="dt" placeholder="Date">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="spo2" id="spo2" placeholder="%SPO2">
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" name="temp" id="temp" placeholder="Temperature">
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Add Data" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div>
                {% if msg %}
                  <p>{{msg}}</p>
                {% endif %}
              </div>

            </div>
            <div class="col-lg-4 ml-auto">
              <h3 class="mb-4">Know your Stats!</h3>
              <form action="/search" method="POST">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <input type="submit" value="Show Stats" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>  
        </div>
      </div>
  </div>
  </body>
</html>
